nav{
    background-color: #263238;
}

body{
    margin:0px;
}

.nav-links{
    margin:0px;
    padding-top:20px;
    text-align: center;
}

.nav-links > li{
    display:inline-block;
    height:50px;
    background-color: #1976d2;
    border: 1px solid #004ba0;
    border-bottom: 0px;
    border-radius: 4px 4px 0px 0px;
    font-size:20px;
}


.nav-links li:hover{
    background-color:  whitesmoke ;
}
.nav-links .active{
    background-color:#63a4ff;
}

.nav-links a{
    line-height:50px;
    text-decoration:none;
    color: #FFF;
    padding: 0 10px;
    display: inline-block;

}

.content{
    width: 100%;
}

.main{
    width: 800px;
    margin: 0 auto;
    background-color: #63a4ff;
    border:1px solid #004ba0;
    border-top:0px;
    border-radius: 0px 0px 4px 4px;
    padding:20px;
}

